@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* Home.module.css */

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    
}

.swing:after{
    content: '';
    position: absolute;  
    width: 40px; height: 40px;  
    border: 1px solid #fff;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 15px; height: 15px;
    top: 82px;left: 49.6%;
    border-radius: 50% 50%;
    background: #fff;
}

 .homePage {
  overflow: hidden;
 }
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.profile-header{
  background: url('../assets/blob.svg');
  width: 100%;
  background-repeat: no-repeat;
}